.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 565px;
  overflow: hidden;
}

.hero-background {
  position: relative;
}

.hero-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(27, 40, 56, 0.4) 0%,
    rgba(27, 40, 56, 0.3) 30%,
    rgba(27, 40, 56, 0.6) 70%,
    rgba(27, 40, 56, 0.8) 80%,
    rgba(27, 40, 56, 0.9) 90%,
    rgba(27, 40, 56, 0.93) 93%,
    rgba(27, 40, 56, 0.95) 95%,
    rgba(27, 40, 56, 0.98) 98%,
    rgba(27, 40, 56, 1) 100%

  );
  z-index: -1; /* Sits above the image but below any other content */
}

.hero-background img {
  width: 100%;
  height: 565px;
  object-fit: cover;
  position: relative;
  z-index: -2; /* Keeps the image below the gradient overlay */
}


/* Main Content */
main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem 1rem 0 1rem;
}

.game-details {
  display: inline-block;
  gap: 2rem;
}


.game-header {
  flex: 0 0 50%;
}

.game-logo {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.game-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.game-developer {
  color: var(--comp-color);
}

.game-genre {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.game-title {
  font-weight: bold;
}

.game-info {
  flex: 0 0 50%;
}

.game-description {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.game-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.stat-block h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.game-actions {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.game-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d9862a;
  margin-bottom: 1.5rem;
}

/* Screenshots Section */
.game-screenshots {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0;
}

.game-screenshots h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

/* Screenshots Section */

.mobile-screenshots {
  display: none;
}

.desktop-screenshots {
  margin: 0;
}

.screenshots-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.screenshot {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 16/9;
}

.screenshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.screenshot:hover img {
  transform: scale(1.05);
}

.screenshot1-img,
.screenshot2-img,
.screenshot3-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.buy-button {
  padding: 0.75rem 2rem;
  background: linear-gradient(to right, #d9862a, #f2a250);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.buy-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(217, 136, 38, 0.3);
}
.wishlist-button {
  padding: 0.75rem 2rem;
  background: transparent;
  color: #fff;
  border: 2px solid #d9862a;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.wishlist-button:hover {
  background-color: rgba(217, 134, 42, 0.1);
}

/* MEDIA QUERY */

@media (max-width: 1024px) {
  .game-details {
      gap: 1.5rem;
  }
  
  .game-title {
      font-size: 2rem;
  }
}

@media (max-width: 800px) {

  .game-details {
    flex-direction: column;
  }

  .game-header,
  .game-info {
      flex: 0 0 100%;
  }

  .screenshots-container {
      grid-template-columns: repeat(2, 1fr);
  }

  .game-actions {
      flex-direction: column;
  }

  .buy-button,
  .wishlist-button {
      width: 100%;
  }

  .game-description {
    text-align: justify;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .hero,
  .hero-background img {
    height: 450px;
  }

  section {
    padding: 0 0.2rem;
  }
  .desktop-screenshots {
    display: none;
  }

  .mobile-screenshots {
    display: block;
    margin: 2rem 0;
  }

  .mobile-screenshots h2 {
    padding-bottom: 1rem;
  }

  .screenshots-slider {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 1rem;
    scrollbar-width: thin;
    scrollbar-color: #d9862a #171a21;
  }

  .screenshots-slider img {
    flex: 0 0 90%;
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  .game-title {
    font-size: 1.75rem;
  }

  main {
    padding: 0 0.5rem;
    margin: 1rem auto;
  }
}

.custom-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--header-bg-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.custom-popup h2 {
    color: #fff;
    margin-bottom: 1rem;
}

.custom-popup p {
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.custom-popup .popup-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.custom-popup button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.custom-popup .view-library-btn {
    background: var(--comp-color);
    color: #fff;
}

.custom-popup .close-btn {
    background: var(--secondary-color);
    color: var(--text-color);
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#loginPopup.custom-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--header-bg-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

#loginPopup.custom-popup h2 {
    color: #fff;
    margin-bottom: 1rem;
}

#loginPopup.custom-popup p {
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

#loginPopupOverlay.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#successPopup.custom-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--header-bg-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

#successPopup.custom-popup h2 {
    color: #fff;
    margin-bottom: 1rem;
}

#successPopup.custom-popup p {
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

#successPopupOverlay.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#successPopup .view-library-btn {
    background: #28a745;
    color: #fff;
}

#successPopup .view-library-btn:hover {
    background: #218838;
}

#cartPopup.custom-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--header-bg-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

#cartPopup.custom-popup h2 {
    color: #fff;
    margin-bottom: 1rem;
}

#cartPopup.custom-popup p {
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

#cartPopupOverlay.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#cartPopup .view-library-btn {
    background: var(--comp-color);
    color: #fff;
}

#cartPopup .view-library-btn:hover {
    background: var(--comp-snd-color);
}